h1 {
color:darkgreen;
font-family:helvetica;
}

body{
	background-color:lightpink;
}

.monkee{
	border: double oldlace 5px;
	display: inline-block;
	text-align: center;
	font: italic small-caps bold 25px/1.5 Helvetica, Arial, sans-serif;;
	padding: 5px;
	background-color: palevioletred;
}
