*{
	box-sizing: border-box;
}
	
body{
	background-color:lightpink;
	text-align: center;
	font-family:helvetica;
	margin: auto 100px;
	padding-top: 20px;
}

.header{
	background-color:#AFE1AF;
	color:indianred;
	font-family: helvetica;
	border: 5px dotted oldlace;
	padding: 10px;
	text-align: center;
	margin: auto;
	box-shadow: 0 10px 25px rgba(219, 112, 147, .75);
}

.header ul{
	list-style-type: none;
	margin: 5px 0px;
	padding: 0;
	overflow: hidden;
	background-color: yellowgreen;
	display: flex;
	justify-content: center;
}

.header ul li{
	padding: 0px;
	font-weight: bold;
	float: left;
	border-right: 1px solid indianred;
}

.header ul li a{
	text-decoration: none;
	padding: 5px 10px;
	color: indianred;
	display: block;
}

.header ul li:last-child{
	border-right: none;
}

.flex{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

h2 {
color:darkgreen;
font-family:helvetica;
}

p{
	color:#355E3B
}

#mainmenu a:hover{
	background-color: #000;
	color: #ffffff;
}

.monkee{
	background-color: palevioletred;
	border: double oldlace 5px;
	display:inline-block;
	text-align: center;
	font: italic small-caps bold 25px/1.5 Helvetica, Arial, sans-serif;;
	padding: 5px;
}

.bigguy{
	padding: 10px;
}

.assignmentcontent{
	border: double oldlace 5px;
	background-color: peachpuff;
	padding: 5px 20px;
	margin: 15px 50px;
	text-align: left;
}

.assignmentcontent p{
	color: black;
}

.container{
	margin-bottom: 150px;
}
